asn1crypto==0.24.0
certifi==2024.7.4
chardet==3.0.4
colorzero==1.1
cryptography==44.0.1
entrypoints==0.3
gitdb==4.0.7
GitPython==3.1.41
gpiozero==1.6.2
idna==3.7
keyring==17.1.1
keyrings.alt==3.1.1
numpy==1.22.0
Pillow==10.3.0
pycryptodome==3.19.1
PyGObject==3.30.4
python-apt==1.8.4.3
pyxdg==0.26
requests==2.32.4
RPi.GPIO==0.7.0
SecretStorage==2.3.1
six==1.12.0
smmap==4.0.0
spidev==3.5
ssh-import-id==5.7
ST7789==0.0.3
systemd==0.16.1
typing-extensions==3.10.0.0
urllib3==2.6.0
